@media(max-width:  1920px) {
    .up {
        position: absolute;
        position: fixed;
        left: 1750px;
        top: 850px
    }
    .up:hover {
        filter: invert(1);
        transition: 0.5s;
    }
    .firstScreen {
        width: 1920px;
    }
    .menuFirst {
        position: absolute;
        color: #34547A;
        text-decoration: none;
        top: -50px;
        left: -115px;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.1em;
    }
    .menuSecond {
        position: absolute;
        color: black;
        text-decoration: none;
        left: 80px;
        top: -14px;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.1em;
    }
    .menuThird {
        position: absolute;
        color: black;
        text-decoration: none;
        left: 250px;
        top: -14px;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.1em;    
    }
    .menuFourth {
        position: absolute;
        color: black;
        text-decoration: none;
        left: 400px;
        top: -14px;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.1em;
    }
    .menuFifth {
        position: absolute;
        color: black;
        text-decoration: none;
        left: 550px;
        top: -14px;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.1em;
    }
    a.menuSixth {
        position: relative;
        color: #34547A;
        text-decoration: none;
        width: 70px;
        height: 18px;
        top: -30px;
        left: 700px;
        font-size: 18px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: #fff; 
        text-decoration: none; 
        user-select: none; 
        background:  #34547A;    
        padding: 8px 20px; 
        outline: none;
        border-radius: 0px;
    }
    .firstScreenMenu {
        left: 950px;
    }
    .logo {
        left: 300px;
    }
    .firstScreenTextHeading {
        left: 1100px;
    }
    .design {
        left: 1100px;
    }
    a.buttonWriteMe {
        left: 1100px;
    }
    .laptop {
        left: 400px;
    }
    .aboutMe {
        width: 1920px;
    }
    .aboutMeText {
        left: 700px;
    }
    .numbers {
        width: 1920px;
    }
    .numbersItem {
        left: 300px;
    }
    .numbersItemSecond {
        left: 625px;
    }
    .numbersItemThird {
        left: 925px;
    }
    .numbersItemFourth {
        left: 1225px;
    }
    .numbersItemFifth {
        left: 1525px;
    }
    .skillBlock {
        width: 1920px;
    }
    .skills {
        left: 400px;
    }
    .myPhoto {
        left: 700px;
    }
    .video {
        width: 1920px;
    }
    .videoTitle {
        left: 700px;
    }
    .videoOn {
        left: 500px;
    }
    .vector {
        position: absolute;
        left: 920px;
    }
    .vector:hover {
        width: 85px;
        height: 85px;
        transition: 0.5s;
    }
    .firstProjectPhoto {
        position: absolute;
        width: 480px;
        height: 480px;
        left: 0px;
        top: 0px;    
    }
    .secondProjectPhoto {
        position: absolute;
        width: 480px;
        height: 480px;
        left: 480px;
        top: 0px;    
    }
    .thirdProjectPhoto {
        position: absolute;
        width: 480px;
        height: 480px;
        left: 960px;
        top: 0px;    
    }
    .fourthProjectPhoto {
        position: absolute;
        width: 480px;
        height: 480px;
        left: 1440px;
        top: 0px;    
    }
    .fifthProjectPhoto {
        position: absolute;
        width: 480px;
        height: 480px;
        left: 0px;
        top: 480px;    
    }
    .sixthProjectPhoto {
        position: absolute;
        width: 480px;
        height: 480px;
        left: 480px;
        top: 480px;    
    }
    .seventhProjectPhoto {
        position: absolute;
        width: 480px;
        height: 480px;
        left: 960px;
        top: 480px;    
    }
    .eighthProjectPhoto {
        position: absolute;
        width: 480px;
        height: 480px;
        left: 1440px;
        top: 480px;    
    }
    .firstBlur {
        position: absolute;
        width: 70px;
        height: 40px;
        opacity: 0;
        left: 200px;
        top: 220px;
    }
    .firstBlur:hover {
        opacity: 1;
        transition: 0.5s;
    }
    .secondBlur {
        position: absolute;
        width: 70px;
        height: 40px;
        opacity: 0;
        left: 700px;
        top: 220px;
    }
    .secondBlur:hover {
        opacity: 1;
        transition: 0.5s;
    }
    .thirdBlur {
        position: absolute;
        width: 70px;
        height: 40px;
        opacity: 0;
        left: 1180px;
        top: 220px;
    }
    .thirdBlur:hover {
        opacity: 1;
        transition: 0.5s;
    }
    .fourthBlur {
        position: absolute;
        width: 70px;
        height: 40px;
        opacity: 0;
        left: 1650px;
        top: 220px;
    }
    .fourthBlur:hover {
        opacity: 1;
        transition: 0.5s;
    }
    .fifthBlur{
        position: absolute;
        width: 70px;
        height: 40px;
        opacity: 0;
        left: 200px;
        top: 690px;
    }
    .fifthBlur:hover {
        opacity: 1;
        transition: 0.5s;
    }
    .sixthBlur {
        position: absolute;
        width: 70px;
        height: 40px;
        opacity: 0;
        left: 700px;
        top: 690px;
    }
    .sixthBlur:hover {
        opacity: 1;
        transition: 0.5s;
    }
    .seventhBlur {
        position: absolute;
        width: 70px;
        height: 40px;
        opacity: 0;
        left: 1180px;
        top: 690px;
    }
    .seventhBlur:hover {
        opacity: 1;
        transition: 0.5s;
    }.eighthBlur {
        position: absolute;
        width: 70px;
        height: 40px;
        opacity: 0;
        left: 1650px;
        top: 690px;
    }
    .eighthBlur:hover {
        opacity: 1;
        transition: 0.5s;
    }
    .microsoft {
        left: 150px;
    }
    .facebook {
        left: 500px;
    }
    .instagram {
        left: 850px;
    }
    .telegram {
        left: 1200px;
    }
    .form {
        width: 1920px;
    }
    .formTitle {
        left: 700px;
    }
    .name {
        left: 700px;
    }
    .e-mail {
        left: 975px;
    }
    .message {
        width: 530px;
        left: 700px;
    }
    a.buttonSend {
        left: 890px;
    }
    .footer {
        width: 1920px;
    }
    .myInstagram {
        left: 1500px;
    }
    .myFacebook {
        left: 1580px;
    }
    .myTelegram {
        left: 1660px;
    }
    .myName {
        left: 300px;
    }
    .end {
        left: 300px;
    }


@media(max-width:  1440px) {
    .up {
        position: absolute;
        position: fixed;
        left: 1300px;
        top: 700px
    }
    .firstScreen {
        width: 1440px;
    }
    .firstScreenMenu {
        left: 660px;
    }
    .menuFirst {
        position: absolute;
        color: #34547A;
        text-decoration: none;
        top: -50px;
        left: -115px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.1em;
    }
    .menuSecond {
        position: absolute;
        color: black;
        text-decoration: none;
        left: 50px;
        top: -14px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.1em;
    }
    .menuThird {
        position: absolute;
        color: black;
        text-decoration: none;
        left: 190px;
        top: -14px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.1em;    
    }
    .menuFourth {
        position: absolute;
        color: black;
        text-decoration: none;
        left: 300px;
        top: -14px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.1em;
    }
    .menuFifth {
        position: absolute;
        color: black;
        text-decoration: none;
        left: 420px;
        top: -14px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.1em;
    }
    a.menuSixth {
        position: absolute;
        color: #34547A;
        text-decoration: none;
        width: 125px;
        height: 26px;
        top: -20px;
        left: 545px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.1em;
        color: #fff; 
        text-decoration: none; 
        user-select: none; 
        background:  #34547A;    
        padding: 5px 1.5em; 
        outline: none;
        border-radius: 0px;
    } 
    .logo {
        left: 200px;
    }
    .firstScreenTextHeading {
        left: 800px;
    }
    .design {
        left: 800px;
    }
    a.buttonWriteMe {
        left: 800px;
    }
    .laptop {
        left: 200px;
    }
    .aboutMe {
        width: 1440px;
    }
    .aboutMeText {
        left: 450px;
    }
    .numbers {
        width: 1440px;
    }
    .numbersItem {
        left: 225px;
    }
    .numbersItemSecond {
        left: 450px;
    }
    .numbersItemThird {
        left: 675px;
    }
    .numbersItemFourth {
        left: 900px;
    }
    .numbersItemFifth {
        left: 1125px;
    }
    .skillBlock {
        width: 1440px;
    }
    .skills {
        left: 200px;
    }
    .myPhoto {
        left: 500px;
    }
    .video {
        width: 1440px;
    }
    .videoTitle {
        left: 450px;
    }
    .videoOn {
        left: 250px;
    }
    .vector {
        left: 682.5px;
    }
    .firstProjectPhoto {
        position: absolute;
        width: 360px;
        height: 360px;
        left: 0px;
        top: 0px;    
    }
    .secondProjectPhoto {
        position: absolute;
        width: 360px;
        height: 360px;
        left: 360px;
        top: 0px;    
    }
    .thirdProjectPhoto {
        position: absolute;
        width: 360px;
        height: 360px;
        left: 720px;
        top: 0px;    
    }
    .fourthProjectPhoto {
        position: absolute;
        width: 360px;
        height: 360px;
        left: 1080px;
        top: 0px;    
    }
    .fifthProjectPhoto {
        position: absolute;
        width: 360px;
        height: 360px;
        left: 0px;
        top: 360px;    
    }
    .sixthProjectPhoto {
        position: absolute;
        width: 360px;
        height: 360px;
        left: 360px;
        top: 360px;    
    }
    .seventhProjectPhoto {
        position: absolute;
        width: 360px;
        height: 360px;
        left: 720px;
        top: 360px;    
    }
    .eighthProjectPhoto {
        position: absolute;
        width: 360px;
        height: 360px;
        left: 1080px;
        top: 360px;    
    }
    .microsoft {
        left: 0px;
        top: -200px;
    }
    .facebook {
        left: 300px;
        top: -175px;
    }
    .instagram {
        left: 600px;
        top: -180px;
    }
    .telegram {
        left: 900px;
        top: -180px;
    }
    .form {
        width: 1440px;
        top: 4025px;
    }
    .formTitle {
        left: 450px;
    }
    .name {
        left: 450px;
    }
    .e-mail {
        left: 730px;
    }
    .message {
        width: 530px;
        left: 450px;
    }
    a.buttonSend {
        left: 640px;
    }
    .footer {
        width: 1440px;
        top: 4786px;
    }
    .myInstagram {
        left: 1000px;
    }
    .myFacebook {
        left: 1080px;
    }
    .myTelegram {
        left: 1160px;
    }
    .myName {
        left: 150px;
    }
    .end {
        left: 150px;
    }


@media(max-width:  1280px) {
    .up {
        position: absolute;
        position: fixed;
        left: 1125px;
        top: 775px
    }
    .firstScreen {
        position: absolute;
        background-color: #EEEFF1;
        height: 700px;
        width: 1280px;
        top: 0px;
        left: 0px;
    }
    .logo {
        position: absolute;
        top: 57px;
        left: 150px;
    }
    .firstScreenMenu {
        position: absolute;
        height: 16px;
        width: 611px;
        top: 72px;
        left: 500px;
    }
    .menuFirst {
        position: absolute;
        color: #34547A;
        text-decoration: none;
        top: -40px;
        left: -35px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.1em;
    }
    .menuSecond {
        position: absolute;
        color: black;
        text-decoration: none;
        left: 125px;
        top: -5px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.1em;
    }
    .menuThird {
        position: absolute;
        color: black;
        text-decoration: none;
        left: 265px;
        top: -5px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.1em;    
    }
    .menuFourth {
        position: absolute;
        color: black;
        text-decoration: none;
        left: 375px;
        top: -5px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.1em;
    }
    .menuFifth {
        position: absolute;
        color: black;
        text-decoration: none;
        left: 500px;
        top: -5px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.1em;
    }
    a.menuSixth {
        position: absolute;
        color: #34547A;
        text-decoration: none;
        width: 100px;
        height: 26px;
        top: -10px;
        left: 625px;
        font-size: 12px;
        line-height: 26px;
        letter-spacing: 0.1em;
        color: #fff; 
        text-decoration: none; 
        user-select: none; 
        background:  #34547A;    
        padding: 5px 1.5em; 
        outline: none;
        border-radius: 0px;
    } 
    a.menuSixth:hover { 
        background: #3f6594; 
        transition: 0.3s;
    }
    a.menuSixth:active {
        background: #2b4666; 
    }
    .firstScreenTextHeading {
        position: absolute;
        width: 541px;
        height: 45px;
        left: 700px;
        top: 200px;
        font-weight: 500;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 40px;
        line-height: 79px;
        color: #000000;
    }
    .laptop {
        position: absolute;
        width: 357px;
        height: 233.7px;
        left: 220px;
        top: 271px;    
    }
    .design { 
        position: absolute;
        width: 540px;
        height: 67px;
        left: 700px;
        top: 320px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #727272;
    }
    a.buttonWriteMe {
        position: absolute;
        color: #fff; 
        text-decoration: none; 
        user-select: none; 
        background:  #34547A;    
        padding: .7em 1.5em; 
        outline: none; 
        top: 500px;
        left: 700px;
        border-radius: 0px;
    } 
    a.buttonWriteMe:hover { 
        background: #3f6594; 
        transition: 0.3s;
    }
    a.buttonWriteMe:active {
        background: #2b4666; 
    }
    .aboutMe {
        position: absolute;
        width: 1280px;
        height: 400px;
        top: 700px;
        left: 0px;
    }
    .aboutMeText {
        position: absolute;
        width: 540px;
        height: 147px;
        left: 450px;
        top: 100px; 
    }
    .aboutMeHeading {
        position: absolute;
        width: 131px;
        height: 30px;
        left: 205px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 37px;
        color: #000000;
    }
    .aboutMeBody {
        position: absolute;
        width: 540px;
        height: 67px;
        left: 10px;
        top: 80px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #727272;
    }
    .numbers {
        position: absolute;
        width: 1280px;
        height: 250px;
        left: 0px;
        top: 1100px;
        background-color: #34547A;
    }
    .numbersItem {
        position: absolute;
        width: 141px;
        height: 50px;
        left: 100px;
        top: 100px;
    }
    .group {
        position: absolute;
        width: 71px;
        height: 44px;
        left: 65px;
        top: 3px;
    }
    .numberInGroup {
        position: absolute;
        width: 36px;
        height: 19px;
        left: 0px;
        top: -25px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        color: #FFFFFF;
    }
    .textInGroup {
        position: absolute;
        width: 71px;
        height: 15px;
        left: 0px;
        top: 0px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
    }
    
    .numbersItemSecond {
        position: absolute;
        width: 141px;
        height: 50px;
        left: 335px;
        top: 100px;
    }
    .groupSecond {
        position: absolute;
        width: 71px;
        height: 44px;
        left: 65px;
        top: 3px;
    }
    .numberInGroupSecond {
        position: absolute;
        width: 36px;
        height: 19px;
        left: 0px;
        top: -25px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        color: #FFFFFF;
    }
    .textInGroupSecond {
        position: absolute;
        width: 71px;
        height: 15px;
        left: 0px;
        top: 0px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
    }
    
    .numbersItemThird {
        position: absolute;
        width: 141px;
        height: 50px;
        left: 570px;
        top: 100px;
    }
    .groupThird {
        position: absolute;
        width: 71px;
        height: 44px;
        left: 65px;
        top: 3px;
    }
    .numberInGroupThird {
        position: absolute;
        width: 36px;
        height: 19px;
        left: 0px;
        top: -25px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        color: #FFFFFF;
    }
    .textInGroupThird {
        position: absolute;
        width: 71px;
        height: 15px;
        left: 0px;
        top: 0px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
    }
    .numbersItemFourth {
        position: absolute;
        width: 141px;
        height: 50px;
        left: 805px;
        top: 100px;
    }
    .groupFourth {
        position: absolute;
        width: 71px;
        height: 44px;
        left: 65px;
        top: 3px;
    }
    .numberInGroupFourth {
        position: absolute;
        width: 36px;
        height: 19px;
        left: 0px;
        top: -25px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        color: #FFFFFF;
    }
    .textInGroupFourth {
        position: absolute;
        width: 71px;
        height: 15px;
        left: 0px;
        top: 0px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
    }
    .numbersItemFifth {
        position: absolute;
        width: 141px;
        height: 50px;
        left: 1040px;
        top: 100px;
    }
    .groupFifth {
        position: absolute;
        width: 71px;
        height: 44px;
        left: 65px;
        top: 3px;
    }
    .numberInGroupFifth {
        position: absolute;
        width: 36px;
        height: 19px;
        left: 0px;
        top: -25px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        color: #FFFFFF;
    }
    .textInGroupFifth {
        position: absolute;
        width: 71px;
        height: 15px;
        left: 0px;
        top: 0px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
    }
    .skillBlock {
        position: absolute;
        width: 1280px;
        height: 612px;
        top: 1350px;
        left: 0px;
    }
    .skills {
        position: absolute;
        width: 900px;
        height: 450px;
        left: 190px;
        top: 70px;
    }
    .myPhoto {
        position: absolute;
        left: 440px;
        top: 0px;
    }
    .skillsList {
        position: absolute;
        width: 440px;
        height: 257px;
        left: 0px;
        top: 96.5px;
    }
    .mySkills {
        position: absolute;
        width: 403px;
        height: 30px;
        left: 0px;
        top: -30px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        color: #000000;
    }
    .firstSkill {
        position: absolute;
        width: 128px;
        height: 15px;
        left: 0px;
        top: 50px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #727272;
    }
    .firstSkillLine {
        position: absolute;
        width: 350px;
        height: 4px;
        left: 0px;
        top: 110px;
        background: #C4C4C4;
    }
    .firstSkillMyLine {
        position: absolute;
        width: 215px;
        height: 4px;
        left: 0px;
        top: 0px;
        background: #34547A;
        transform: rotate(-0.06deg);
    }
    .secondSkill {
        position: absolute;
        width: 128px;
        height: 15px;
        left: 0px;
        top: 130px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #727272;
    }
    .secondSkillLine {
        position: absolute;
        width: 350px;
        height: 4px;
        left: 0px;
        top: 190px;
        background: #C4C4C4;
    }
    .secondSkillMyLine {
        position: absolute;
        width: 175px;
        height: 4px;
        left: 0px;
        top: 0px;
        background: #34547A;
        transform: rotate(-0.06deg);
    }
    .thirdSkill {
        position: absolute;
        width: 128px;
        height: 15px;
        left: 0px;
        top: 210px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #727272;
    }
    .thirdSkillLine {
        position: absolute;
        width: 350px;
        height: 4px;
        left: 0px;
        top: 270px;
        background: #C4C4C4;
    }
    .thirdSkillMyLine {
        position: absolute;
        width: 100px;
        height: 4px;
        left: 0px;
        top: 0px;
        background: #34547A;
        transform: rotate(-0.06deg);
    }
    .video {
        position: absolute;
        width: 1280px;
        height: 1004px;
        left: 0px;
        top: 1962px;
        background: #EEEFF1;
    }
    .videoTitle {
        position: absolute;
        width: 540px;
        height: 147px;
        left: 370px;
        top: 100px;
    }
    .headingText {
        position: absolute;
        width: 219px;
        height: 30px;
        left: 160.5px;
        top: -30px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        color: #000000;
    }
    .videoTitleText {
        position: absolute;
        width: 540px;
        height: 67px;
        left: 0px;
        top: 70px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #727272;
    }
    .videoOn {
        position: absolute;
        width: 925px;
        height: 500px;
        left: 177.5px;
        top: 400px;
    }
    .vector {
        position: absolute;
        height: 75px;
        width: 75px;
        left: 600px;
        top: 600px;
    }
    .project {
        position: absolute;
        width: 1280px;
        height: 640px;
        left: 0px;
        top: 2994px;
    }
    .firstBlur {
        position: absolute;
        width: 70px;
        height: 40px;
        opacity: 0;
        left: 125px;
        top: 125px;
    }
    .firstBlur:hover {
        opacity: 1;
        transition: 0.5s;
    }
    .secondBlur {
        position: absolute;
        width: 70px;
        height: 40px;
        opacity: 0;
        left: 445px;
        top: 125px;
    }
    .secondBlur:hover {
        opacity: 1;
        transition: 0.5s;
    }
    .thirdBlur {
        position: absolute;
        width: 70px;
        height: 40px;
        opacity: 0;
        left: 765px;
        top: 125px;
    }
    .thirdBlur:hover {
        opacity: 1;
        transition: 0.5s;
    }
    .fourthBlur {
        position: absolute;
        width: 70px;
        height: 40px;
        opacity: 0;
        left: 1085px;
        top: 125px;
    }
    .fourthBlur:hover {
        opacity: 1;
        transition: 0.5s;
    }
    .fifthBlur{
        position: absolute;
        width: 70px;
        height: 40px;
        opacity: 0;
        left: 125px;
        top: 445px;
    }
    .fifthBlur:hover {
        opacity: 1;
        transition: 0.5s;
    }
    .sixthBlur {
        position: absolute;
        width: 70px;
        height: 40px;
        opacity: 0;
        left: 445px;
        top: 445px;
    }
    .sixthBlur:hover {
        opacity: 1;
        transition: 0.5s;
    }
    .seventhBlur {
        position: absolute;
        width: 70px;
        height: 40px;
        opacity: 0;
        left: 765px;
        top: 445px;
    }
    .seventhBlur:hover {
        opacity: 1;
        transition: 0.5s;
    }.eighthBlur {
        position: absolute;
        width: 70px;
        height: 40px;
        opacity: 0;
        left: 1085px;
        top: 445px;
    }
    .eighthBlur:hover {
        opacity: 1;
        transition: 0.5s;
    }
    .firstProjectPhoto {
        position: absolute;
        width: 320px;
        height: 320px;
        left: 0px;
        top: 0px;    
    }
    .secondProjectPhoto {
        position: absolute;
        width: 320px;
        height: 320px;
        left: 320px;
        top: 0px;    
    }
    .thirdProjectPhoto {
        position: absolute;
        width: 320px;
        height: 320px;
        left: 640px;
        top: 0px;    
    }
    .fourthProjectPhoto {
        position: absolute;
        width: 320px;
        height: 320px;
        left: 960px;
        top: 0px;    
    }
    
    .fifthProjectPhoto {
        position: absolute;
        width: 320px;
        height: 320px;
        left: 0px;
        top: 320px;    
    }
    
    
    .sixthProjectPhoto {
        position: absolute;
        width: 320px;
        height: 320px;
        left: 320px;
        top: 320px;    
    }
    .seventhProjectPhoto {
        position: absolute;
        width: 320px;
        height: 320px;
        left: 640px;
        top: 320px;    
    }
    .eighthProjectPhoto {
        position: absolute;
        width: 320px;
        height: 320px;
        left: 960px;
        top: 320px;    
    }
    .clients {
        position: absolute;
        width: 900px;
        height: 80px;
        left: 190px;
        top: 4036px;
    }
    .microsoft {
        position: absolute;
        width: 170px;
        height: 80px;
        top: -300px;
    }
    .facebook {
        position: absolute;
        width: 150px;
        height: 30px;
        left: 245px;
        top: -277px;
    }
    .instagram {
        position: absolute;
        width: 192.5px;
        height: 50px;
        left: 470px;
        top: -280px;
    }
    .telegram {
        position: absolute;
        width: 171.875px;
        height: 50px;
        left: 695px;
        top: -280px;
        margin-left: 20px;
    }
    .form {
        position: absolute;
        width: 1280px;
        height: 762px;
        left: 0px;
        top: 3930px;
        background-color: #EEEFF1;
    }
    .formTitle {
        position: absolute;
        width: 540px;
        height: 147px;
        left: 370px;
        top: 100px;
    }
    .formTitleHeading {
        position: absolute;
        width: 256px;
        height: 30px;
        left: 142px;
        top: -30px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        color: #000000;
    }
    .formTitleHeadingSmall {
        position: absolute;
        width: 540px;
        height: 67px;
        left: 0px;
        top: 60px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        color: #727272;
    }
    .name {
        position: absolute;
        width: 255px;
        height: 50px;
        left: 370px;
        top: 300px;
        background: #FFFFFF;
        border: 0px;
    }
    .e-mail {
        position: absolute;
        width: 255px;
        height: 50px;
        left: 650px;
        top: 300px;    
        background: #FFFFFF;
        border: 0px;
    }
    .message {
        position: absolute;
        width: 540px;
        height: 175px;
        left: 370px;
        top: 380px;
        background: #FFFFFF;
        border: 0px;
    }
    a.buttonSend {
        position: absolute;
        color: #fff; 
        text-decoration: none; 
        user-select: none; 
        background:  #34547A;    
        padding: .7em 1.5em; 
        outline: none; 
        top: 650px;
        left: 570px;
        border-radius: 0px;
    } 
    a.buttonSend:hover { 
        background: #3f6594; 
        transition: 0.3s;
    }
    a.buttonSend:active {
        background: #2b4666; 
    }
    .footer {
        position: absolute;
        width: 1280px;
        height: 151px;
        left: 0px;
        top: 4693px;
        background-color: #34547A;
    }
    .myName {
        position: absolute;
        width: 230px;
        height: 19px;
        left: 206px;
        top: 35px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
    }
    .end {
        position: absolute;
        width: 193px;
        height: 12px;
        left: 206px;
        top: 75px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 21px;
        color: #FFFFFF;
    }
    .myInstagram {
        position: absolute;
        width: 35px;
        height: 35px;
        left: 900px;
        top: 58px;
    }
    .myFacebook {
        position: absolute;
        width: 20px;
        height: 35px;
        left: 980px;
        top: 58px;
    }
    .myTelegram {
        position: absolute;
        width: 35px;
        height: 35px;
        left: 1040px;
        top: 58px;
    }
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    nav a {
        display: block;
        text-decoration: none;
        outline: none;
        transition: .4s ease-in-out;
    }
    .topmenu {
        backface-visibility: hidden;
    }
    .topmenu > li {
      display: inline-block;
      position: relative;
    }
    .topmenu > li > a {
      font-family: 'Exo 2', sans-serif;
      height: 70px;
      line-height: 70px;
      padding: 0 30px;
      font-weight: bold;
      color: #003559;
      text-transform: uppercase;
    }
    .topmenu li a:hover { color: #6b8eb9; }
    .submenu {
      background: white;
      border: 2px solid #34547A;
      position: absolute;
      left: -40px;
      top: 10px;
      visibility: hidden;
      opacity: 0;
      z-index: 5;
      width: 150px;
      transform: perspective(600px) rotateX(-90deg);
      transform-origin: 0% 0%;
      transition: .6s ease-in-out;
    }
    .topmenu > li:hover .submenu{
      visibility: visible;
      opacity: 1;
      transform: perspective(600px) rotateX(0deg);
    }
    .submenu li a {
      color: #7f7f7f;
      font-size: 13px;
      line-height: 36px;
      padding: 0 25px;
      font-family: 'Kurale', serif;
    }
}



@media(max-width:  1024px) {
    .firstScreen {
        width: 1024px;
        height: 500px;
    }
    .firstScreenMenu {
        left: 450px;
    }
    .logo {
        height: 25px;
        width: 55px;
        left: 100px;
    }
    .menuFirst {
        position: absolute;
        color: #34547A;
        text-decoration: none;
        top: -50px;
        left: -35px;
        font-size: 12px;
        line-height: 26px;
        letter-spacing: 0.1em;
    }
    .menuSecond {
        position: absolute;
        color: black;
        text-decoration: none;
        left: 75px;
        top: -14px;
        font-size: 12px;
        line-height: 26px;
        letter-spacing: 0.1em;
    }
    .menuThird {
        position: absolute;
        color: black;
        text-decoration: none;
        left: 170px;
        top: -14px;
        font-size: 12px;
        line-height: 26px;
        letter-spacing: 0.1em;    
    }
    .menuFourth {
        position: absolute;
        color: black;
        text-decoration: none;
        left: 250px;
        top: -14px;
        font-size: 12px;
        line-height: 26px;
        letter-spacing: 0.1em;
    }
    .menuFifth {
        position: absolute;
        color: black;
        text-decoration: none;
        left: 330px;
        top: -14px;
        font-size: 12px;
        line-height: 26px;
        letter-spacing: 0.1em;
    }
    a.menuSixth {
        position: relative;
        color: #34547A;
        text-decoration: none;
        width: 70px;
        height: 18px;
        top: -30px;
        left: 425px;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: #fff; 
        text-decoration: none; 
        user-select: none; 
        background:  #34547A;    
        padding: 8px 20px; 
        outline: none;
        border-radius: 0px;
    }
    .firstScreenTextHeading {
        position: absolute;
        width: 541px;
        height: 45px;
        left: 500px;
        top: 100px;
        font-weight: 500;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 30px;
        line-height: 79px;
        color: #000000;
    }
    .design { 
        position: absolute;
        width: 540px;
        height: 67px;
        left: 500px;
        top: 200px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 26px;
        color: #727272;
    }
    a.buttonWriteMe {
        position: absolute;
        text-align: center;
        color: #fff; 
        text-decoration: none; 
        user-select: none; 
        background:  #34547A;    
        padding: 10px 10px; 
        outline: none; 
        width: 100px;
        height: 12px;
        top: 330px;
        left: 500px;
        font-size: 10px;
        border-radius: 0px;
    } 
    a.buttonWriteMe:hover { 
        background: #3f6594; 
        transition: 0.3s;
    }
    a.buttonWriteMe:active {
        background: #2b4666; 
    }
    .laptop {
        left: 170px;
        top: 200px;
        width: 229px;
        height: 150px;
    }
    .aboutMe {
        top: 500px;
        width: 1024px;
        height: 300px;
    }
    .aboutMeText {
        left: 235px;
        top: 50px;
    }
    .numbers {
        width: 1024px;
        top: 800px;
    }
    .numbersItem {
        left: 50px;
    }
    .numbersItemSecond {
        left: 250px;
    }
    .numbersItemThird {
        left: 450px;
    }
    .numbersItemFourth {
        left: 650px;
    }
    .numbersItemFifth {
        left: 850px;
    }
    .skillBlock {
        width: 1024px;
        top: 1050px;
    }
    .skills {
        left: 100px;
    }
    .myPhoto {
        left: 400px;
        width: 300px;
        height: 300px;
    }
    .skillsList {
        width: 300px;
        height: 170px;
    }
    .mySkills {
        position: absolute;
        width: 403px;
        height: 30px;
        left: 0px;
        top: -110px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        color: #000000;
    }
    .firstSkill {
        position: absolute;
        width: 128px;
        height: 15px;
        left: 0px;
        top: -30px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #727272;
    }
    .firstSkillLine {
        position: absolute;
        width: 250px;
        height: 4px;
        left: 0px;
        top: 30px;
        background: #C4C4C4;
    }
    .firstSkillMyLine {
        position: absolute;
        width: 170px;
        height: 4px;
        left: 0px;
        top: 0px;
        background: #34547A;
        transform: rotate(-0.06deg);
    }
    .secondSkill {
        position: absolute;
        width: 128px;
        height: 15px;
        left: 0px;
        top: 50px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #727272;
    }
    .secondSkillLine {
        position: absolute;
        width: 250px;
        height: 4px;
        left: 0px;
        top: 110px;
        background: #C4C4C4;
    }
    .secondSkillMyLine {
        position: absolute;
        width: 140px;
        height: 4px;
        left: 0px;
        top: 0px;
        background: #34547A;
        transform: rotate(-0.06deg);
    }
    .thirdSkill {
        position: absolute;
        width: 128px;
        height: 15px;
        left: 0px;
        top: 130px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #727272;
    }
    .thirdSkillLine {
        position: absolute;
        width: 250px;
        height: 4px;
        left: 0px;
        top: 190px;
        background: #C4C4C4;
    }
    .thirdSkillMyLine {
        position: absolute;
        width: 50px;
        height: 4px;
        left: 0px;
        top: 0px;
        background: #34547A;
        transform: rotate(-0.06deg);
    }
    .video {
        width: 1024px;
        height: 800px;
        top: 1662px;
    }
    .videoTitle {
        left: 250px;
    }
    .videoOn {
        left: 188px;
        width: 647.5px;
        height: 350px;
    }
    .vector {
        left: 475px;
        top: 535px;
    }
    .project {
        top: 2462px;
        width: 1024px;
        height: 512px;
    }
    .firstProjectPhoto {
        position: absolute;
        width: 256px;
        height: 256px;
        left: 0px;
        top: 0px;    
    }
    .secondProjectPhoto {
        position: absolute;
        width: 256px;
        height: 256px;
        left: 256px;
        top: 0px;    
    }
    .thirdProjectPhoto {
        position: absolute;
        width: 256px;
        height: 256px;
        left: 512px;
        top: 0px;    
    }
    .fourthProjectPhoto {
        position: absolute;
        width: 256px;
        height: 256px;
        left: 768px;
        top: 0px;    
    }
    .fifthProjectPhoto {
        position: absolute;
        width: 256px;
        height: 256px;
        left: 0px;
        top: 256px;    
    }
    .sixthProjectPhoto {
        position: absolute;
        width: 256px;
        height: 256px;
        left: 256px;
        top: 256px;    
    }
    .seventhProjectPhoto {
        position: absolute;
        width: 256px;
        height: 256px;
        left: 512px;
        top: 256px;    
    }
    .eighthProjectPhoto {
        position: absolute;
        width: 256px;
        height: 256px;
        left: 768px;
        top: 256px;    
    }
    .clients {
        top: 2994px;
        left: 62px;
    }
    .microsoft {
        width: 148.5px;
        height: 70px;
        left: 0px;
        top: 34px;
    }
    .facebook {
        left: 250px;
        top: 55px;
        height: 26.25px;
        width: 131.25px;
    }
    .instagram {
        left: 475px;
        top: 50px;
        height: 43.75px;
        width: 168.4375px;
    }
    .telegram {
        left: 700px;
        top: 50px;
        height: 43.75px;
        width: 150.395px;
    }
    .form {
        width: 1024px;
        top: 3160px;
    }
    .formTitle {
        left: 250px;
    }
    .name {
        left: 247px;
    }
    .e-mail {
        left: 530px;
    }
    .message {
        width: 530px;
        left: 247px;
    }
    a.buttonSend {
        left: 440px;
    }
    .footer {
        width: 1024px;
        top: 3922px;
    }
    .myInstagram {
        left: 700px;
    }
    .myFacebook {
        left: 780px;
    }
    .myTelegram {
        left: 860px;
    }
    .myName {
        left: 100px;
    }
    .end {
        left: 100px;
    }
    .up {
        position: fixed;
        left: 850px;
        top: 650px;
    }
}}}